{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="page-wrapper page-wrapper-three">
    <div class="content">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-12 col-12">
          <div class="dash-widget">
            <div class="dash-widgetcontent">
              <h5><span class="counters" data-count="100000"></span> TEXT</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
          class="dash-count flex-column align-items-center justify-content-center text-center"
          >
          <div class="dash-imgs mb-2">
            <i data-feather="user"></i>
          </div>
          <div class="dash-text">
            <h4>Customer</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count das1 flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="user-check"></i>
            </div>
            <div class="dash-text">
              <h4>Vendor</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count das2 flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="file-text"></i>
            </div>
            <div class="dash-text">
              <h4>Sales Order</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count das3 flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="file"></i>
            </div>
            <div class="dash-text">
              <h4>Purchase Order</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count das3 flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="user"></i>
            </div>
            <div class="dash-text">
              <h4>Product</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count das2 flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="user-check"></i>
            </div>
            <div class="dash-text">
              <h4>Category</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count das1 flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="file-text"></i>
            </div>
            <div class="dash-text">
              <h4>Sales Order</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 d-flex">
          <div
            class="dash-count danger flex-column align-items-center justify-content-center text-center"
          >
            <div class="dash-imgs mb-2">
              <i data-feather="file"></i>
            </div>
            <div class="dash-text">
              <h4>Logout</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
